#about {
  background-color: #101010;
  position: relative;
}

#parallaxHandler {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

#bg {
  animation: parallax_bg 60s ease-in-out infinite;
  bottom: 300px;
  image-rendering: pixelated;
  left: 50%;
  position: absolute;
}

#fbg {
  animation: parallax_fbg 60s ease-in-out infinite;
  bottom: 50px;
  image-rendering: pixelated;
  left: 30%;
  position: absolute;
}

#about .sectionTitle {
  position: relative;
  text-shadow: 0 0 16px #ee3030, -3px -4px 0 #cf4817, 0 2px 6px #a13812, 3px 4px 0 #ec9213;
}

#about .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 min(2vw, 8px);
  padding-bottom: 192px;
  position: relative;
}

.box {
  color: whitesmoke;
  margin: 0 min(2vw, 8px);
  max-width: 520px;
  text-shadow: 0 0 15px black, 1px 1px 0 black;
}

.box .title {
  font-family: "OksFree";
  font-size: var(--subtitle);
  text-align: center;
  margin: 8px 0 12px 0;
  white-space: nowrap;
}

.listOfSkills {
  font-family: "Mozart", "PixelUnicode";
  font-size: var(--text);
  list-style-type: none;
  padding: 0;
  text-align: justify;
}

.listOfSkills li {
  background-color: #101010a0;
  border-radius: 4px;
  padding: 2px 8px;
  margin: 2px 0;
}

.listOfSkills li::before {
  content: "* ";
}

.highlight-lite {
  animation: 60s highlight infinite;
  animation-delay: calc(5s + calc(var(--ind) * 0.25s));
  background-color: none;
  background: linear-gradient(90deg, var(--col) 50%, #0000 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

@keyframes highlight {
  5%   { background-position: 0 0; }
  75%  { background-position: 0 0; }
  80%  { background-position: -100% 0; }
  100% { background-position: -100% 0; }
}

#cardboardSign {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#cardboardSign div {
  position: absolute;
}

@keyframes cardboard-floating-left {
  0%   { transform: translate(0, 0px); }
  50%  { transform: rotate(-15deg) scale(1.05) translate(0, -35px); }
  100% { transform: translate(0, 0px); }
}

@keyframes cardboard-floating-right {
  0%   { transform: translate(0, 0px); }
  50%  { transform: rotate(-8deg) scale(1.05) translate(0, -15px); }
  100% { transform: translate(0, 0px); }
}

#cardboardSign img {
  filter: drop-shadow(0 0 16px #451010);
  width: 100%;
}

#cardboard-left img {
  animation: cardboard-floating-left 60s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

#cardboard-right img {
  animation: cardboard-floating-right 60s cubic-bezier(0.37, 0, 0.63, 1) infinite;
  animation-delay: 2s;
}

@media screen and (min-width: 961px) {
  #cardboardSign div {
    max-width: 275px;
    top: -80px;
    width: 35%;
  }

  #cardboard-left { transform: translateX(-125%); }
  #cardboard-right { transform: translateX(125%) rotate(180deg); }
}

@media screen and (max-width: 960px) {
  #cardboardSign div {
    max-width: calc(1.75 * var(--header));
  }
  #cardboard-left { transform: translateX(-120%) translateY(-20%); }
  #cardboard-right { transform: translateX(125%) rotate(180deg); }
}

@keyframes parallax_bg {
  0% { transform: translateX(-50px); }
  50% { transform: translateX(50px); }
  100% { transform: translateX(-50px); }
}

@keyframes parallax_fbg {
  0% { transform: translateX(-100px); }
  50% { transform: translateX(100px); }
  100% { transform: translateX(-100px); }
}
