#about {
    background-color: #101010;
    position: relative;
    overflow: hidden;
}

#bg {
    animation: parallax_bg 60s ease-in-out infinite;
    bottom: 300px;
    image-rendering: pixelated;
    left: 50%;
    position: absolute;
}

#fbg {
    animation: parallax_fbg 60s ease-in-out infinite;
    bottom: 50px;
    image-rendering: pixelated;
    left: 30%;
    position: absolute;
}

#about .sectionTitle {
    text-shadow: 0 0 16px #ee3030, -3px -4px 0 #cf4817, 0 2px 6px #a13812, 3px 4px 0 #ec9213;
}

#about .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 min(2vw, 8px);
    padding-bottom: 192px;
    position: relative;
}

.box {
    color: whitesmoke;
    margin: 0 min(2vw, 8px);
    max-width: 520px;
    text-shadow: 0 0 15px black, 1px 1px 0 black;
}

.box .title {
    font-family: "OksFree";
    font-size: var(--subtitle);
    text-align: center;
    margin: 8px 0 12px 0;
}

.listOfSkills {
    font-family: "Mozart", "PixelUnicode";
    font-size: var(--text);
    list-style-type: none;
    padding: 0;
    text-align: justify;
}

.listOfSkills li {
    background-color: #101010a0;
    border-radius: 4px;
    padding: 2px 8px;
    margin: 2px 0;
}

.listOfSkills li::before {
    content: "* ";
}

@keyframes parallax_bg {
    0% { transform: translateX(-50px); }
    50% { transform: translateX(50px); }
    100% { transform: translateX(-50px); }
}

@keyframes parallax_fbg {
    0% { transform: translateX(-100px); }
    50% { transform: translateX(100px); }
    100% { transform: translateX(-100px); }
}