#about {
    background-color: #101010;
}

#about:hover {
    box-shadow: -15px 0 30px -15px #101010, 15px 0 30px -15px #101010;
}

#about .parallax {
    background-position: bottom;
    background-size: contain;
    image-rendering: pixelated;
    margin: 0 auto;
    max-width: 1280px;
}

#bg {
    animation: parallax_bg 60s infinite ease-in-out;
    background: url(../images/bg_piano_lamps_and_laptop.png) no-repeat;
    will-change: background-position;
}

#fbg {
    animation: parallax_fbg 60s infinite ease-in-out;
    background: url(../images/fbg_piano_lamps_and_laptop.png) no-repeat;
    will-change: background-position;
}

#about .sectionTitle {
    text-shadow: 0 0 16px #ee3030, -3px -4px 0 #cf4817, 0 2px 6px #a13812, 3px 4px 0 #ec9213;
}

#about .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 12px;
    padding-bottom: 192px;
}

.box {
    color: whitesmoke;
    margin: 0 16px;
    max-width: 520px;
    text-shadow: 0 0 15px black, 1px 1px 0 black;
}

.box .title {
    font-family: "OksFree";
    font-size: var(--subtitle);
    text-align: center;
    margin: 8px 0 12px 0;
}

.listOfSkills {
    font-family: "Mozart", "PixelUnicode";
    font-size: var(--text);
    list-style-type: none;
    padding: 0;
    text-align: justify;
}

.listOfSkills li {
    background-color: #101010a0;
    border-radius: 4px;
    padding: 2px 8px;
    margin: 2px 0;
}

.listOfSkills li::before {
    content: "* ";
}

@keyframes parallax_bg {
    0% { background-position: -50px bottom; }
    50% { background-position: 50px bottom; }
    100% { background-position: -50px bottom; }
}

@keyframes parallax_fbg {
    0% { background-position: -100px bottom; }
    50% { background-position: 100px bottom; }
    100% { background-position: -100px bottom; }
}