#contact {
    background-color: darkcyan;
}

#web {
    background-image: url(../images/web-bottom.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;

    padding: 0 16px 64px 16px;
    margin: 0 auto;
    max-width: 960px;
}

#contact .wrapper {
    background-image: url(../images/web-top.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#envelope {
    padding-right: 18px;
}

#banner {
    animation: banner 30s infinite;
    color: whitesmoke;
    font-family: "Mozart", "PixelUnicode";
    font-size: 22pt;
    padding: 0;
    margin-right: 16px;
    text-align: end;
    text-shadow: black 1px 1px 5px;
    writing-mode: vertical-rl;
}

@keyframes banner {
    0% { transform: translateY(-150%); }
    40% { transform: translateY(0); }
    60% { transform: translateY(0); }
    100% { transform: translateY(150%); }
}

form {
    max-width: 600px;
}

#contact label {
    color: whitesmoke;
    font-family: "Mozart", "PixelUnicode";
    font-size: 22pt;
    text-shadow: black 1px 1px 5px;
}

#contact .section_title {
    padding-bottom: 24px;
    text-shadow: aqua -3px -3px 25px, #1a4050 -2px -2px, #037080 2px 2px;
}

#contact input, #contact textarea {
    font-family: "Mozart", "PixelUnicode";
    font-size: var(--links);
    margin: 0 auto;
    margin-bottom: 8px;
    max-height: 320px;
    min-height: 20px;
    outline: none;
    overflow-wrap: break-word;
    padding-left: 8px;
    resize: vertical;
    width: 100%;
}

@media screen and (max-width: 600px) {
    #somthing { display: none; }
}