@import "variables"
@import "mixins"

#windows-desktop
  margin: 0 auto
  max-width: $mobile-version-critical-width
  position: relative

  &::before
    background-image: url(../images/win98-desk-top.png)
    background-repeat: no-repeat
    background-position: top
    background-size: contain
    content: ""
    filter: blur(3px)
    height: 100%
    position: absolute
    width: 100%

#contact
  background-image: url(../images/misc328.jpg)
  overflow: hidden

  & .section-title
    @include section-title-shadow(aqua, #19555e, black, #24873f)

  & .section-subtitle
    font-family: "Comic Sans MS", "Comic Sans", cursive

  & .wrapper
    align-items: center
    display: flex
    flex-direction: row
    justify-content: center
    position: relative

    &::before
      background-image: url(../images/win98-desk-bottom.png)
      background-repeat: no-repeat
      background-position: bottom
      background-size: contain
      bottom: -5px
      content: ""
      filter: blur(3px)
      position: absolute
      height: 100%
      width: 100%

  & form
    padding: 16px
    padding-bottom: 64px
    max-width: 600px

    & p
      text-shadow: 0 0 5px #1a4050

#contact label, #social-media-tag-billboard
  text-shadow: 0 0 5px black

#feedback-form
  & input, & textarea
    box-sizing: border-box
    color: black
    margin: 0 auto
    margin-bottom: 8px
    max-height: 320px
    min-height: 20px
    outline: none
    overflow-wrap: break-word
    padding-left: 8px
    resize: none
    width: 100%

  & textarea
    color: black

  & input[type=submit]
    background-color: whitesmoke

    &:active
      background-color: #dddddd

#feedback-submit
  width: 100%

  &:disabled
    animation: barberpole 10s linear infinite
    background: repeating-linear-gradient(45deg, #7497ff, #7497ff 10px, #6481d9 10px, #6481d9 20px)
    background-size: 200% 200%
    border-color: #6481d9
    text-shadow: 0 0 15px black

@keyframes barberpole
  100%
    background-position: 100% 100%

#social-media-tag-billboard
  animation: banner $social-media-tag-scrolling-duration infinite
  position: relative
  text-align: end
  writing-mode: vertical-rl

  & p
    padding: 1em 0
    padding-left: 8px

@keyframes banner
  0%
    transform: translateY(-160%)
  40%, 60%
    transform: translateY(-10%)
  100%
    transform: translateY(140%)
