#header {
    background-color: #202020;
    overflow: hidden;
}

#header ul {
    list-style-type: none;
    margin: auto;
    max-width: 960px;
    padding: 0;
}

#header a {
    color: whitesmoke;
    display: block;
    font-family: "Mozart", "PixelUnicode";
    font-size: var(--text);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: .25s ease;
}

#header .inner a:hover::before {
    color: whitesmoke;
    content: ">> ";
    font-weight: bold;
}

#header .inner a:hover::after {
    color: whitesmoke;
    content: " <<";
    font-weight: bold;
}

#menu li {
    display: table-cell;
    float: none;
    width: 0.1%;
}

#menu-switch a {
    text-align: left;
}

@media screen and (min-width: 601px) {
    #menu { display: block; }
    #menu-mobile { display: none; }

    #header a:hover {
        background-color: var(--bolder-blue);
        text-decoration: underline;
        text-shadow: 0 0 15px whitesmoke;
    }
}

@media screen and (max-width: 600px) {
    #menu { display: none; }
    #menu-mobile { display: block; }
}