#home {
    background: url(../images/bg_vhs.gif);
    background-position: bottom;
    background-size: cover;
    position: relative;
}

#lang {
    animation: hint 2s ease-in-out;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    background-color: #242424;
    border: ridge 4px whitesmoke;
    border-top: none;
    border-radius: 0 0 5px 5px;
    position: absolute;
    transform: translateY(-100%);
}

#lang a {
    color: white;
    font-family: "Mozart", "PixelUnicode";
    font-size: var(--hint);
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#lang a:hover {
    text-decoration: underline;
}

#lang a img {
    height: var(--hint);
    transform: translateY(25%);
}

#me {
    image-rendering: auto;
}

@keyframes hint {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}

#home .wrapper {
    align-items: center;
    background-image: url(../images/bg_strips.png);
    background-position: center;
    background-repeat: repeat-y;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
    padding-top: 16px;
    position: relative;
}

.pointer_animation {
    animation: floating 10s infinite;
}

#pointer {
    position: absolute;
    width: 64px;
}

#creative p {
    display: inline-block;
    font-family: OksFree;
    font-size: var(--title_creative);
}

#creative span {
    background-color: #ADFF2F;
}

@keyframes scroll {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

@media screen and (min-width: 601px) {
    #lang {
        padding: 8px;
        right: 16px;
        top: -8px;
    }

    #me {
        max-width: 360px;
        padding: 10px 32px 0 10px;
        width: 40%;
    }

    @keyframes floating {
        0% { transform: translate(-30px, 240px); }
        7% { transform: translate(270px, 240px); }
        50% { transform: translate(230px, 100px); }
        70% { transform: translate(150px, 150px); }
        100% { transform: translate(-30px, 240px); }
    }
}

@media screen and (max-width: 600px) {
    #lang {
        padding: 1.5vw;
        right: 1vw;
        top: -1vw;
    }

    #me { 
        padding: 1vw 5vw 0 1vw;
        width: 35vw;
    }
    #pointer { width: 10vw; }

    @keyframes floating {
        0% { transform: translate(-3vw, 35vw); }
        7% { transform: translate(40vw, 35vw); }
        50% { transform: translate(36vw, 18vw); }
        70% { transform: translate(20vw, 20vw); }
        100% { transform: translate(-3vw, 35vw);  }
    }
}