#home {
    box-shadow: inset -35px 0 35px -25px var(--bold-blue);
}

#home .wrapper {
    background: url(../images/strips.png) center repeat-y;
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    padding-top: 16px;
}

#home:hover {
    box-shadow: inset -35px 0 35px -25px var(--bold-blue), -15px 0 30px -15px gold, 15px 0 30px -15px var(--bold-blue);
}

#pointer {
    animation: cursor 20s infinite;
    position: absolute;
    will-change: transform;
    z-index: 1;
}

/* Photo by https://unsplash.com/@nikldn on https://unsplash.com
 * https://unsplash.com/photos/HzVHlwvQlyw
 */
#heart {
    animation: windows 20s infinite;
    position: absolute;
    will-change: transform;
}

@media screen and (min-width: 961px) {
    #home .wrapper {
        box-shadow: inset 192px 0 gold, -650px 0 gold;
    }

    #me {
        height: 512px;
    }
    
    #pointer {
        height: 42px;
        transform: translate3d(335px, 375px, 0);
    }

    @keyframes cursor {
        0%, 100% { transform: translate3d(335px, 375px, 0); }
        25%, 29% {
            transform: translate3d(828px, 233px, 0);
            content: url(../images/pointer1.png);
        }
        28% { content: url(../images/pointer2.png); }
        50% { transform: translate3d(832px, 130px, 0); }
        65% { transform: translate3d(290px, 270px, 0); }
    }

    #wordart {
        filter: drop-shadow(8px 10px 15px pink);
        height: 256px;
        transform: translate3d(-85px, 15px, 0);
    }

    #heart {
        height: 256px;
        transform: translate3d(630px, 220px, 0) scale3d(1, 0, 1);
    }

    @keyframes windows {
        0%, 29% { transform: translate3d(630px, 220px, 0) scale3d(1, 0, 1); }
        1%, 28% { transform: translate3d(630px, 220px, 0) scale3d(1, 1, 1); }
    }
}

@media screen and (max-width: 960px) {
    #home .wrapper {
        box-shadow: inset 20vw 0 gold;
    }

    #me {
        height: 54vw;
    }

    #pointer {
        height: 4vw;
    }

    @keyframes cursor {
        0%, 100% { transform: translate(35.5vw, 39vw); }
        25%, 29% {
            transform: translate(84vw, 25.5vw);
            content: url(../images/pointer1.png);
        }
        28% { content: url(../images/pointer2.png); }
        50% { transform: translate(85vw, 15vw); }
        65% { transform: translate(30vw, 30vw); }
    }

    #wordart {
        filter: drop-shadow(1vw 0.75vw 1.75vw pink);
        height: 26.5vw;
        transform: translate(-9vw, 2vw);
    }

    #heart {
        height: 26vw;
        transform: translate(64vw, 24vw) scale3d(1, 0, 1);
    }

    @keyframes windows {
        0%, 29% { transform: translate(64vw, 24vw) scale3d(1, 0, 1); }
        1%, 28% { transform: translate(64vw, 24vw) scale3d(1, 1, 1); }
    }
}
