@font-face {
    font-family: "Mozart";
    src:
        url("../webfonts/mozartnbp.woff") format("woff"),
        url("../webfonts/mozartnbp.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OksFree";
    src:
        url("../webfonts/OksFree.woff") format("woff"),
        url("../webfonts/OksFree.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face { /* Made by ivancr72 */
    font-family: "PixelUnicode";
    src:
        url("../webfonts/PixelUnicode.woff") format("woff"),
        url("../webfonts/PixelUnicode.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --bold-blue: #2020e0;
    --bolder-blue: #1717a0;
    
    --header: min(16vw, 64pt);
    --subtitle: min(8vw, 32pt);
    --text: min(6.25vw, 20pt);
}

h1 { font-size: var(--header) }

::-moz-selection {
    background-color: var(--bold-blue);
    color: whitesmoke;
}

::selection {
    background-color: var(--bold-blue);
    color: whitesmoke;
}

* { /* Yeah, I'm one of those bad guys */
    margin: 0;
    padding: 0;
}

html {
    background-image: url(../images/transparent.png);
    cursor: url(../images/cursor.png), auto;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    max-width: 2160px;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background: whitesmoke;
}

canvas {
    position: absolute;
    z-index: -1;
}

section {
    border-bottom: ridge 8px whitesmoke;
}

label {
    cursor: url(../images/cursor.png), auto;
}

input, textarea {
    cursor: url(../images/cursor_selection.png), auto;
}

input[type=submit], a {
    cursor: url(../images/cursor_pointer.png), auto;
}

@media screen and (min-width: 961px) {
    body::-webkit-scrollbar { width: 16px; }
    .dropShadow { -webkit-filter: drop-shadow(15px 5px 20px #000000cc); filter: drop-shadow(15px 5px 20px #000000cc); }
}

@media screen and (max-width: 960px) {
    body::-webkit-scrollbar { width: 2vw; }
    .dropShadow { -webkit-filter: drop-shadow(1.25vw 1vw 1.75vw #000000cc); filter: drop-shadow(1.25vw 1vw 1.75vw #000000cc); }
}

#content-box {
    overflow: hidden;
}

@media screen and (min-width: 601px) {
    body { padding: 1vw; }
    #content-box { border-radius: 16px; box-shadow: 0 0 0.5vw #000000cc; }
    footer { border-radius: 0 0 16px 16px; }
    #header { border-radius: 16px 16px 0 0; }
}

.disableDragging {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.toggle {
    cursor: url(../images/cursor_pointer.png), auto;
    -webkit-touch-callout: none;
    -webkit-user-select:   none;
       -moz-user-select:   none;
        -ms-user-select:   none;
            user-select:   none;
}

.withBorder {
    border: ridge 5px whitesmoke;
    border-radius: 5px;
}

.inner {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.inner.hidden {
    height: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-top-width: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.projectBanner {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-pixelated;
        image-rendering: pixelated;
}

.sectionTitle {
    color: whitesmoke;
    font-family: "OksFree";
    padding: 32px 0 16px 0;
    text-align: center;
}

breakflex {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 0;
}

#motd {
    background: linear-gradient(90deg, #000 0%, var(--bolder-blue) 20%, var(--bolder-blue) 80%, #000 100%);
    border-bottom: none;
    position: relative;
}

#motd-secret {
    animation: openMOTD 3s ease-in-out forwards;
    animation-delay: 15s;
    background-color: #101010;
    border-top: solid #a1a1a1 4px;
    bottom: -4px;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;
}

@keyframes openMOTD {
    0%   { max-height: 32px; }
    100% { max-height: 4px; }
}

marquee {
    color: white;
    font-family: "Mozart";
    font-size: var(--text);
    text-shadow: 2px 2px 6px black;
    padding: 4px 0;
}
