#banner {
  border-bottom: solid #F5F5F5 4px;
  overflow: hidden; }
  #banner canvas {
    position: absolute; }
  #banner .wrapper {
    background-color: #2020E0; }
  #banner .wrapper-secondary {
    background: url(../images/backgrounds/header-red-strips.png) center repeat-y;
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    padding-top: 16px;
    position: relative; }

#pointer {
  animation: hot-pancakes-ad-cursor 20s infinite;
  position: absolute;
  z-index: 1; }

#hot-pancakes-ad {
  animation: hot-pancakes-ad-popup 20s infinite;
  position: absolute;
  will-change: transform;
    will-change-display: none; }

@media screen and (min-width: 600px) {
  #banner::after {
    box-shadow: inset -35px 0 35px -25px #1717A0;
    content: " ";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 10%; } }

@media screen and (min-width: 960px) {
  #banner .wrapper-secondary {
    box-shadow: inset 192px 0 gold, -650px 0 gold; }
  #danielpancake-photo {
    height: 512px; }
  #danielpancake-wordart {
    filter: drop-shadow(8px 10px 15px pink);
    height: 256px;
    transform: translate3d(-85px, 15px, 0); }
  #pointer {
    height: 42px; }
  #hot-pancakes-ad {
    height: 256px;
    transform: translate3d(610px, 230px, 0) scale3d(1, 0, 1); }
  @keyframes hot-pancakes-ad-popup {
    0%, 29% {
      transform: translate3d(610px, 230px, 0) scale3d(1, 0, 1); }
    1%, 28% {
      transform: translate3d(610px, 230px, 0) scale3d(1, 1, 1); } }
  @keyframes hot-pancakes-ad-cursor {
    0%, 100% {
      transform: translate3d(335px, 375px, 0); }
    25%, 30% {
      transform: translate3d(828px, 233px, 0);
      content: url(../images/cursor-normal.png); }
    28% {
      transform: translate3d(828px, 233px, 0);
      content: url(../images/cursor-click.png); }
    50% {
      transform: translate3d(832px, 130px, 0); }
    65% {
      transform: translate3d(290px, 270px, 0); } } }

@media screen and (max-width: 960px) {
  #banner .wrapper-secondary {
    box-shadow: inset 20vw 0 gold; }
  #danielpancake-photo {
    height: 54vw; }
  #danielpancake-wordart {
    filter: drop-shadow(1vw 0.75vw 1.75vw pink);
    height: 26.5vw;
    transform: translate(-9vw, 2vw); }
  #pointer {
    height: 4vw; }
  #hot-pancakes-ad {
    height: 26vw;
    transform: translate(62vw, 25vw) scale3d(1, 0, 1); }
  @keyframes hot-pancakes-ad-popup {
    0%, 29% {
      transform: translate(62vw, 25vw) scale3d(1, 0, 1); }
    1%, 28% {
      transform: translate(62vw, 25vw) scale3d(1, 1, 1); } }
  @keyframes hot-pancakes-ad-cursor {
    0%, 100% {
      transform: translate(35.5vw, 39vw); }
    25%, 29% {
      transform: translate(84vw, 25.5vw);
      content: url(../images/cursor-normal.png); }
    28% {
      content: url(../images/cursor-click.png); }
    50% {
      transform: translate(85vw, 15vw); }
    65% {
      transform: translate(30vw, 30vw); } } }
