html {
  background-image: url(../images/backgrounds/transparent.webp);
  cursor: url(../cur-normal.png), auto;
  scroll-behavior: smooth; }

body {
  margin: 0 auto;
  max-width: 2160px; }
  body::-webkit-scrollbar-track {
    background: black; }
  body::-webkit-scrollbar-thumb {
    background: #F5F5F5; }

::-moz-selection {
  background-color: #2020E0;
  color: #F5F5F5; }

::selection {
  background-color: #2020E0;
  color: #F5F5F5; }

/* Assigning custom cursors */
label {
  cursor: url(../cur-normal.png), auto; }

input, textarea {
  cursor: url(../cur-selection.png), auto; }

a, input[type=submit] {
  cursor: url(../cur-pointer.png), auto; }

section {
  border-bottom: ridge 8px #F5F5F5;
  position: relative; }

section .section-title,
section .section-subtitle {
  color: #F5F5F5;
  text-align: center;
  white-space: nowrap; }

section .section-title {
  padding-top: 0.1em; }

section .section-subtitle {
  font-weight: normal;
  padding-top: 0.1em; }

#content-box {
  overflow: hidden; }

@media screen and (min-width: 600px) {
  body {
    padding: 1vw; }
  #content-box {
    border-radius: 16px;
    box-shadow: 0 0 10px black; } }

@media screen and (min-width: 960px) {
  body::-webkit-scrollbar {
    width: 16px; }
  .drop-shadow {
    -webkit-filter: drop-shadow(15px 5px 20px #000000cc);
    filter: drop-shadow(15px 5px 20px #000000cc); } }

@media screen and (max-width: 960px) {
  body::-webkit-scrollbar {
    width: 2vw; }
  .drop-shadow {
    -webkit-filter: drop-shadow(1.25vw 1vw 1.75vw #000000cc);
    filter: drop-shadow(1.25vw 1vw 1.75vw #000000cc); } }
