<div class="wrapper">
  <div class="wrapper-secondary">
    <img class="drop-shadow disable-dragging" id="danielpancake-photo"   src="./images/2020.gif"          alt="Hello! I'm">
    <img class="drop-shadow disable-dragging" id="danielpancake-wordart" src="./images/wordart.png"       alt="danielpancake">
    <img class="drop-shadow disable-dragging" id="pointer"               src="./images/cursor-normal.png" alt="👆">
    <img class="drop-shadow disable-dragging" id="hot-pancakes-ad"       src="./images/pancakes.png"      alt="FAILED TO LOAD [x]">
  </div>
</div>