<form>
  <br><br><br><br> <!-- Brrr... This form's got chills without its JavaScript -->
  <p class="center">Oops! The feedback form seems to be missing.</p>
  <br>
  <p class="justify">
    Unfortunately, this feedback form cannot work with javascript disabled.
    Still, if you wish to contact me, you can reach out through
    inboxpancake[at]gmail[dot]com or the social media
    listed below.
  </p>
  <br><br><br><br> <!-- because the lack of JavaScript doesn't produce that much heat -->
</form>