<div id="social">
  <div class="wrapper">
    <a target="_blank" href="https://discord.gg/dFrEzbfAqj">
      <div style="background-color: #5865F2">
        <img src="./images/svgs/discord.svg" alt="discord">
      </div>
    </a>

    <a target="_blank" href="https://gamejolt.com/@danielpancake">
      <div style="background-color: #353535">
        <img src="./images/svgs/gamejolt.svg" alt="gamejolt">
      </div>
    </a>

    <a target="_blank" href="https://github.com/danielpancake">
      <div style="background-color: #353535">
        <img src="./images/svgs/github.svg" alt="github">
      </div>
    </a>

    <a target="_blank" href="https://t.me/dpancake">
      <div style="background-color: #34aadf">
        <img src="./images/svgs/telegram.svg" alt="telegram">
      </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@danielpancake0">
      <div style="background-color: #ff0000">
        <img src="./images/svgs/youtube.svg" alt="youtube">
      </div>
    </a>
  </div>
</div>