
<li class="project">
  <div class="toggle with-border project-banner" style="background: url(/images/projects/$banner$); background-position: $if(banner-position)$ $banner-position$ $else$ center $endif$;">
    <div class="project-shape">
      <div></div>
      <p>
        <span class="project-title">$title$</span>
        <br>
        <span class="project-brief">$brief$</span>
      </p>
    </div>
  </div>

  <div class="inner with-border project-description">
    <p class="project-label"> $if(flavour)$ $flavour$ $else$ unspecified $endif$ / $if(date)$ $date$ $else$ 20xx $endif$</p>
    <hr>$body$
  </div>
</li>
